.detail-info {
  position: relative;
}

.info-container {
  display: flex;
  gap: 20px;
}
.rating-box {
  background-color: #f7f7f7;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 24px;
}

.back-button {
  display: flex;
  background: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 1001;
  font-weight: 500;
}

.accommodation-info {
  padding-bottom: 20px;
}

.detail-info {
  display: flex;
  gap: 20px;
  padding: 5px;
  max-width: 1200px;
  margin: 0 auto;
}

.booking-section {
  position: sticky;
  top: 20px; /* Adjust this value to set the distance from the top of the viewport */
  align-self: flex-start;
}

/* Ensure the AccommodationInfo takes up the remaining space */
.info-container > :first-child {
  flex: 1;
}
