.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 300px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.image-container {
  position: relative;
  width: 100%;
  height: 400px;
}

.card-image {
  width: 100%;
  height: 70%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
}

.nav-button.left {
  left: 10px;
}

.nav-button.right {
  right: 10px;
}

.card-content {
  width: 100%;
  height: 30%;
  padding: 10px;
  text-align: left;
}

.location {
  font-weight: bold;
  margin-bottom: 5px;
}

.distance,
.dates,
.price,
.rating {
  margin: 5px 0;
}
